<div class="adoptions-container">
  <h1>These cats are looking for their forever home!</h1>
  <div class="adoptions-list">
    <div class="adoption-item" *ngFor="let adoption of Adoptions" (click)="openModal($event, adoption)">
      <img class="adoption-photo" src={{adoption.media}} alt="Our cats are cute" />
      <h2 class="adoption-name">{{adoption.name}}</h2>
      <div *ngFor="let breed of adoption.breeds">
        <p>{{breed}}</p>
      </div>
      <p id="quick-info">{{adoption.sex}} • {{adoption.size}} • {{adoption.age}}</p>
    </div>
  </div>
  <div id="adoption-modal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <div class="modal-flex">
          <div class="modal-quick-info">
            <h1>{{Modal.name}}</h1>
            <img class="adoption-photo" src={{Modal.media}} alt="Our cats are cute" />
            <div *ngFor="let breed of Modal.breeds">
                <p>{{breed}}</p>
            </div>
            <p id="quick-info">{{Modal.sex}} • {{Modal.size}} • {{Modal.age}}</p>
          </div>
          <div class="modal-description">
            <p>{{Modal.description}}</p>
          </div>
        </div>
    </div>
  </div>
</div>