body {
    color: #807662;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20vw;
    max-width: 264px;
    height: 100%;
    margin: 10px;
}

.header-title{
    color: #660000;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.navigation {
    color: #660000;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

footer {
    color: #807662;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 40px;
}

.address {
    margin: 3px;
}
#donate {
    color: #e4e0c3;
    background: #660000;
    padding: 0px 25px;
    padding-top: 15px;
    margin-top: -15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}