.donate-container {
    width: 100vw;
    min-height: 70vh;
    margin: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.donate-help {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}


.donate-help h1 {
    color: #660000;
    margin: 0px;
}

.donate-help p{
    margin: 0px;
}

.donation-option {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}
.donate-logo {
    width: 250px;
}

.paypal {
    margin: -40px 0px;
}

.address {
    color: #660000;
}

.donate-thanks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.thank-you-cat{
    width: 33vw;
    border-radius: 100%;
}