<div class="aboutus-container">
  <div class="text-container">
    <h2 class="aboutus-title">Who We Are</h2>
    <p>Hands Helping Paws is a nonprofit incorporated organization aimed at reducing and stabilizing unwated feral cat populations via trap, neuter/spay and return program in Norman.  Hands Helping Paws is not a rescue shelter, animal abuse hot line, for-profit organization, or cat sanctuary. However, in the process of TNR we run across adoptable strays and/or kittens that we will rescue and put into foster care. Once they are socialized and a certification of clean health they are put up for adoption for a "Forever Loving Home"</p>
    <p>Hands Helping Paws, Inc. is a 501(c)(3) non-profit organization.</p>
    <p>All Donations are used for medical care, spaying/neutering, food and supplies for our rescued kitties.</p>
    <p>Donations are tax-deductible. Thank you for your support!</p>
  </div>
</div>
