.homepage-image{
    width: 100vw;
    margin: 0px;
}

.homepage-welcome{
    display: none;
}
.homepage-container{
    width: 100vw;
    min-height: 70vh;
    border-top: 1px solid black;
    
}
@media screen and (max-width:800px){
    .homepage-welcome{
        display: block;
        color: #660000;
        font-size: 24px;
        text-align: center;
        background: #cccccc;
        border-bottom: 1px solid black;
    }
}